<kendo-grid
  #grid="kendoGrid" [data]="gridData" [pageSize]="state.take"
  [skip]="state.skip" [sort]="state.sort"
  [sortable]="true" [pageable]="true" (dataStateChange)="dataStateChange($event)"
  [filter]="state.filter" [columnMenu]="{ filter: true }" [filterable]="'menu'"
  [reorderable]="true" [scrollable]="true">

  <kendo-grid-column *ngFor="let field of config" [field]="field.name" [title]="field.label" [width]="field.width"
                     [filter]="field.type">
    <!--<ng-template *ngIf="field.name == 'name'" kendoGridCellTemplate let-dataItem>
      <div style="display: flex; align-items: center">
        <img style="border-radius: 20px; margin-right: 10px; width: 34px;" [src]="dataItem.picture">
        <a class="ml-2">{{ dataItem.name }}</a>
      </div>
    </ng-template>-->
    <ng-template *ngIf="field.name == 'bank'" kendoGridCellTemplate let-dataItem>
      {{dataItem.bank? dataItem.bank.bank:''}}
    </ng-template>
    <ng-template *ngIf="field.name == 'action'" kendoGridCellTemplate let-dataItem>
      <button mat-raised-button color="{{field.color}}"
              (click)="action(dataItem.id, field.actionText, dataItem)">{{field.actionText}}</button>
    </ng-template>
    <ng-template *ngIf="field.template && field.template == 'boolean'" kendoGridCellTemplate let-dataItem>
      <input type="checkbox" [checked]="dataItem[field.name]" disabled />
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
