<ngx-smart-modal #createResidence identifier="createResidence">
  <h2 class="is-size-4">Crear nuevo condominio</h2>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmitResidence()">
    <div class="field">
      <label class="label">Nombre del condominio</label>
      <div class="control">
        <input class="input" type="text" formControlName="name" placeholder="Nombre del condominio a registrar" />
      </div>
      <p class="help">Ingrese el nombre del condominio</p>
    </div>

    <div>
      <label class="label">RIF</label>
      <div class="control">
        <input formControlName="nif" class="input" type="text" placeholder="RIF del condominio" />
      </div>
      <p class="help">Ingrese el RIF del condominio</p>
    </div>

    <div>
      <label class="label">Seleccione tipo de condominio</label>
      <div class="control">
        <div class="select is-rounded">
          <select formControlName="community_type">
            <option *ngFor="let type of types; index as i" [value]="type.id">{{type.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Reserva del condominio</label>
      <div class="control">
        <input
          class="input"
          type="number"
          formControlName="reserve_percentage"
          placeholder="Ingresa el porcentaje de reserva del condominio. Ej: 10"
        />
      </div>
      <p class="help">Llene expresado en porcentaje la reserva del condominio, en caso de no poseer ingrese 0</p>
    </div>

    <div>
      <label class="label">Seleccionar pais</label>
      <div class="control">
        <div class="select is-rounded">
          <select formControlName="country_id">
            <option *ngFor="let country of countries; index as i" [value]="country.id">{{country.name}}</option>
          </select>
        </div>
      </div>
      <p class="help">Ingrese el pais en el que se encuentra la residencia.</p>
    </div>

    <div>
      <label class="label">Seleccionar estado</label>
      <div class="control">
        <div class="select is-rounded">
          <select formControlName="state_id" [value]="1">
            <option *ngFor="let state of states; index as i" [value]="state.id">{{state.name}}</option>
          </select>
        </div>
      </div>
      <p class="help">Seleccione el estado en el que se encuentra la residencia.</p>
    </div>

    <div>
      <label class="label">Seleccionar la ciudad</label>
      <div class="control">
        <div class="select is-rounded">
          <select formControlName="city_id">
            <option disabled selected>Selecciona una ciudad</option>
            <option disabled *ngIf="formGroup.value.state_id == null || formGroup.value.state_id == undefined">
              Selecciona primero un estado
            </option>
            <option *ngFor="let city of cities; index as i"
                    [value]="city.id"
                    [style]="{'display': city.state_id == formGroup.value.state_id ? 'block' : 'none' }"
            >{{city.name}}</option>
          </select>
        </div>
      </div>
      <p class="help">Seleccione la ciudad en el que se encuentra la residencia.</p>
    </div>

    <div>
      <label class="label">Dirección</label>
      <div class="control">
        <input class="input" type="text" formControlName="location" placeholder="Dirección del condominio" />
      </div>
      <p class="help">Ingrese la dirección del condominio.</p>
    </div>

    <div>
      <label class="label">Calle</label>
      <div class="control">
        <input class="input" type="text" formControlName="street" placeholder="Calle del condominio" />
      </div>
      <p class="help">Ingrese la calle del condominio.</p>
    </div>

    <div>
      <label class="label">Codigo postal</label>
      <div class="control">
        <input class="input" type="text" formControlName="zip_code" placeholder="Codigo postal del condominio" />
      </div>
      <p class="help">Ingrese el codigo postal.</p>
    </div>

    <p *ngIf="failedForm" class="has-text-danger">
      Uno de los campos que ha ingresado es invalido, compruebelos e intente nuevamente
    </p>

    <div class="buttons has-addons is-centered">
      <button type="submit" class="button bg is-primary is-rounded" [class.is-loading]="isLoading">Crear</button>
    </div>
  </form>
</ngx-smart-modal>
