<div class="columns padding-top-1" >

  <div class="column is-3">
    <app-sidebar [residenceId]="residence"></app-sidebar>
  </div>

  <div class="column is-9" *ngIf="loading">
    <p class="is-size-4">Cargando...</p>
  </div>

  <div class="column is-9" *ngIf="!loading">

    <!-- Data cards -->

    <section class="info-tiles">

      <div class="tile is-ancestor has-text-centered">

        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="is-size-3">{{ dataInvoice.residence.name }}</p>
            <p class="is-size-6">RIF: {{ dataInvoice.residence.nif }}</p>
            <p class="is-size-6">{{ dataInvoice.residence.address.location }}, {{ dataInvoice.residence.address.street }}</p>
            <p class="is-size-6">{{ dataInvoice.residence.address.city.name }}, {{ dataInvoice.residence.address.state.name }}, {{ dataInvoice.residence.address.country.name }}</p>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="is-size-3">Codigo: {{dataInvoice.ref_code}}</p>
            <p class="is-size-6">Fecha: {{dataInvoice.date}}</p>
            <p class="is-size-6">Total: {{dataInvoice.total}} USD</p>
            <p class="is-size-6 has-text-weight-bold"
               [class.has-text-success]="isPaid" [class.has-text-danger]="!isPaid">
              {{ isPaid ? 'PAGADO' : 'NO PAGADO' }}
            </p>
          </article>
        </div>

      </div>
    </section>

    <p class="has-text-weight-semibold">Gasto Comunes</p>

    <table class="table is-striped" style="width: 100% !important;">

      <thead>
      <tr>
        <th *ngFor="let table of tables">
          {{table}}
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let table of tableContentNormal">

        <td>
          {{table.name}}
        </td>
        <td>
          {{table.reason}}
        </td>
        <td>
          {{table.spend_date}}
        </td>
        <td>
          {{table.alicuota}}
        </td>
        <td>
          {{table.amount}}
        </td>

      </tr>
      </tbody>

    </table>

    <p class="has-text-weight-semibold">Gasto No Comunes</p>

    <table class="table is-striped" style="width: 100% !important;">

      <thead>
        <tr>
          <th *ngFor="let table of tables">
            {{table}}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let table of tableContentNoNormal">

          <td>
            {{table.name}}
          </td>
          <td>
            {{table.reason}}
          </td>
          <td>
            {{table.spend_date}}
          </td>
          <td>
            {{table.alicuota}}
          </td>
          <td>
            {{table.amount}}
          </td>

        </tr>
      </tbody>

    </table>

    <p class="has-text-weight-semibold">Gasto de tu propiedad</p>

    <table class="table is-striped" style="width: 100% !important;">

      <thead>
      <tr>
        <th *ngFor="let table of tables">
          {{table}}
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let table of tableContentSpecific">

        <td>
          {{table.name}}
        </td>
        <td>
          {{table.reason}}
        </td>
        <td>
          {{table.spend_date}}
        </td>
        <td>
          {{table.alicuota}}
        </td>
        <td>
          {{table.amount}}
        </td>

      </tr>
      </tbody>

    </table>

    <div class="k-float-right">
      <p class="has-text-weight-semibold">Total: {{totalInvoice}}</p>
      <p class="has-text-weight-semibold">
        Alicuota total (sin reserva del {{dataResidence.reserve_percentage}}): {{ alicuotaPay.toFixed(2) }}
      </p>
      <p class="has-text-weight-bold">
        Total a pagar: {{ (total + propertySpend).toFixed(2) }}
      </p>

    </div>

  </div>


</div>
