<ngx-smart-modal #createProperty identifier="createProperty">
  <h2 class="is-size-4">Añadir nueva propiedad</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Correo del propietario</label>
      <div class="control">
        <input
          class="input"
          type="email"
          required="required"
          formControlName="user_email"
          placeholder="Dirección del condominio"
        />
      </div>
      <p class="help">Ingrese el correo electronico del dueño del inmueble.</p>
      <p class="help has-text-danger" *ngIf="errType.status === 404">
        No encontramos registros de este correo electronico, si desea invitarlo,
        <a (click)="sendInvitation()">haga click aquí.</a>
      </p>
    </div>

    <div>
      <label class="label">Referencia de la propiedad</label>
      <div class="control">
        <input
          class="input"
          required="required"
          type="text"
          formControlName="reference"
          placeholder="Nombre del condominio a registrar"
        />
      </div>
      <p class="help">Ingrese el nombre o la referencia de la propiedad</p>
    </div>

    <div>
      <label class="label">Alicuota</label>
      <div class="control">
        <input
          class="input"
          required="required"
          type="number"
          formControlName="alicuota"
          placeholder="Alicuota de la propiedad"
        />
      </div>
      <p class="help">Ingrese el porcentaje o alicuota que deba pagar el propietario.</p>
    </div>

    <p [class.has-text-danger]="error" [class.has-text-success]="!error">{{ message }}</p>

    <div class="buttons has-addons is-centered">
      <button type="submit" class="button bg is-primary is-rounded" [class.is-loading]="isLoading">Crear</button>
    </div>
  </form>
</ngx-smart-modal>
