<aside class="menu">
  <!-- GENERAL INFO -->

  <p class="menu-label">General</p>
  <ul class="menu-list">
    <li><a routerLink="/manager/dashboard/{{residenceId}}" routerLinkActive="is-active">Dashboard inicial</a></li>
    <li><a routerLink="/manager/balance/{{residenceId}}" routerLinkActive="is-active">Balance general</a></li>
    <li><a routerLink="/manager/invoices/{{residenceId}}" routerLinkActive="is-active">Facturas</a></li>
    <li><a routerLink="/manager/properties/{{residenceId}}" routerLinkActive="is-active">Propiedades</a></li>
    <li><a routerLink="/manager/payment-list/{{residenceId}}" routerLinkActive="is-active">Ver pagos</a></li>
  </ul>

  <!-- ADMINISTRATION -->

  <p class="menu-label">Administración</p>
  <ul class="menu-list">
    <li>
      <a (click)="modalService.getModal('myModal').open()"
         [ngStyle]="{'display': isDashboard ? 'block' : 'none'}"
         [class.has-text-weight-bold]="!invoiceStatus"
         [class.is-active]="!invoiceStatus"
        >Crear nuevo recibo</a
      >
    </li>
    <li>
      <a (click)="modalService.getModal('createCharges').open()"
         [style]="{'display': !invoiceStatus ? 'none' : 'block' }"
      >Añadir nuevo gasto</a
      >
    </li>
    <li>
      <a (click)="modalService.getModal('personalCharges').open()"
         [style]="{'display': !invoiceStatus ? 'none' : 'block' }"
      >Crear gasto para una propiedad</a
      >
    </li>
    <li>
      <a (click)="modalService.getModal('dividedCharges').open()"
         [style]="{'display': !invoiceStatus ? 'none' : 'block' }"
      >Crear gasto divido entre propiedades</a
      >
    </li>
    <li>
      <a (click)="modalService.getModal('adminPaymentReport').open()"
         [style]="{'display': !invoiceStatus ? 'none' : 'block' }"
      >Reportar nuevo pago de propietario</a
      >
    </li>
    <!-- <li>
      <a (click)="modalService.getModal('prontoPagoModal').open()"
         [style]="{'display': !invoiceStatus ? 'none' : 'block' }"
      >Crear prontoPago</a
      >
    </li> -->
    <li>
      <a (click)="modalService.getModal('createProperty').open()"
      >Añadir nueva propiedad</a
      >
    </li>

  </ul>
</aside>

