<div class="columns padding-top-1">
  <!-- Sidebar -->

  <div class="column is-3">
    <app-sidebar [residenceId]="residence"
                 [invoiceStatus]="invoiceStatus"
                 [isDashboard]="true"></app-sidebar>
  </div>

  <!-- CONTENT -->

  <div class="column is-9">

    <div *ngIf="isLoading">
      <p class="is-size-4">
        Cargando...
      </p>
    </div>

    <div *ngIf="!error && !isLoading">

      <!-- HELLO -->

      <app-welcome-card [title]="'Bienvenido de nuevo!'" [content]="content"></app-welcome-card>

      <!-- CARDS -->

      <section class="info-tiles" *ngIf="!isFirstTime || response.invoices.length > 0">
        <div class="tile is-ancestor has-text-centered">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{response.invoices[0].currency.name}}</p>
              <p class="subtitle">Moneda</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{totalSpend.toFixed(2)}}</p>
              <p class="subtitle">Egresos</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{response.invoices[0].ref_code}}</p>
              <p class="subtitle">Codigo de referencia</p>
            </article>
          </div>
        </div>
      </section>

      <!-- Table -->

      <div class="columns">
        <div class="column is-12">
          <app-table [config]="table" [data]="tableContent"></app-table>
        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf="!invoiceStatus">
  <app-create-invoice (residenceEvent)="getCurrentInvoice()" (residenceEvent)="ngOnInit()" [isFirst]="invoiceStatus"></app-create-invoice>
</div>
<app-create-properties></app-create-properties>
<div *ngIf="invoiceStatus">
  <app-create-invoice (residenceEvent)="refresh()" (residenceEvent)="ngOnInit()" [currentInvoice]="currentInvoice" [isFirst]="invoiceStatus"></app-create-invoice>
  <app-create-charges [currency]="response.invoices[0].currency.id" (chargeEvent)="getCurrentInvoice()"></app-create-charges>
  <app-personal-charges [currency]="response.invoices[0].currency.id" (chargeEvent)="getCurrentInvoice()"></app-personal-charges>
  <app-payments-report></app-payments-report>
  <app-divided-charges [currency]="response.invoices[0].currency.id"></app-divided-charges>
  <app-pronto-pago (prontoPagoEvent)="getCurrentInvoice()" [invoice]="response.invoices[0].id" [residence]="residence"></app-pronto-pago>
</div>

