<div class="columns padding-top-1">

  <div class="column is-3 no-print">
    <app-sidebar [residenceId]="residence"></app-sidebar>
  </div>

  <div *ngIf="loading">
    <p class="is-size-4">
      Cargando...
    </p>
  </div>

  <div *ngIf="!loading && error">
    <p class="is-size-4 has-text-danger">
      {{message}}
    </p>
  </div>

  <div class="column is-9 example-print" *ngIf="!loading && !error">

    <!-- Data cards -->

    <section class="info-tiles">

      <div class="control no-print">
        <div class="select is-rounded">
          <select (ngModelChange)="checkProperty($event)" [ngModel]="property">
            <option value="-1" disabled>Selecciona una propiedad</option>
            <option [ngValue]="property" *ngFor="let property of properties">{{property.reference}}</option>
          </select>
        </div>
        <button class="k-float-right button is-info" (click)="printDiv()">
          Imprimir
        </button>
      </div>

      <div class="tile is-ancestor has-text-centered" style="margin-top: 1em">

        <div class="tile is-parent" *ngIf="dataInvoice != undefined">
          <article class="tile is-child box">
            <p class="is-size-3">{{ dataInvoice.residence.name }}</p>
            <p class="is-size-6">RIF: {{ dataInvoice.residence.nif }}</p>
            <p class="is-size-6">{{ dataInvoice.residence.address.location }}, {{ dataInvoice.residence.address.street }}</p>
            <p class="is-size-6">{{ dataInvoice.residence.address.city.name }}, {{ dataInvoice.residence.address.state.name }}, {{ dataInvoice.residence.address.country.name }}</p>
          </article>
        </div>

        <div class="tile is-parent" *ngIf="dataInvoice != undefined">
          <article class="tile is-child box">
            <p class="is-size-3">Codigo: {{dataInvoice.ref_code}}</p>
            <p class="is-size-6">Fecha: {{dataInvoice.date}}</p>
            <p class="is-size-6">Total: {{dataInvoice.total}} USD</p>
            <span *ngIf="userData != undefined && isPaid != undefined">
              <p class="is-size-6">Propiedad: {{userData.reference}}</p>
            <p class="is-size-6 has-text-weight-bold"
               [class.has-text-success]="isPaid" [class.has-text-danger]="!isPaid">
              {{ isPaid ? 'PAGADO' : 'NO PAGADO' }}
            </p>
            </span>
          </article>
        </div>

      </div>
    </section>

    <p class="has-text-weight-semibold">Gasto Comunes</p>

    <table class="table is-striped" style="width: 100% !important;">

      <thead>
      <tr>
        <th *ngFor="let table of tables">
          {{table}}
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let table of tableContentNormal">

        <td>
          {{table.name}}
        </td>
        <td>
          {{table.reason}}
        </td>
        <td>
          {{table.spend_date}}
        </td>
        <td>
          {{table.amount}}
        </td>
        <td *ngIf="userData !== undefined">
          {{ (table.amount * userData.alicuota) / 100 }}
        </td>

      </tr>
      </tbody>

    </table>

    <p class="has-text-weight-semibold">Gasto No Comunes</p>

    <table class="table is-striped" style="width: 100% !important;">

      <thead>
      <tr>
        <th *ngFor="let table of tables">
          {{table}}
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let table of tableContentNoNormal">

        <td>
          {{table.name}}
        </td>
        <td>
          {{table.reason}}
        </td>
        <td>
          {{table.spend_date}}
        </td>
        <td>
          {{table.amount}}
        </td>
        <td *ngIf="userData !== undefined">
          {{ (table.amount * userData.alicuota) / 100}}
        </td>

      </tr>
      </tbody>

    </table>

    <p class="has-text-weight-semibold">Gasto Especificos</p>

    <!-- Specific spend in general -->

    <table *ngIf="userData === undefined || userData === null" class="table is-striped" style="width: 100% !important;">

      <thead>
      <tr>
        <th *ngFor="let table of tablesSpecific">
          {{table}}
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let table of tableContentSpecific">

        <td>
          {{table.name}}
        </td>
        <td>
          {{table.spend_date}}
        </td>
        <td>
          {{table.amount}}
        </td>

      </tr>
      </tbody>

    </table>

    <!-- Specific spend only in a property -->

    <table *ngIf="userData != undefined || userData != null" class="table is-striped" style="width: 100% !important;">

      <thead>
      <tr>
        <th *ngFor="let table of tablesSpecific">
          {{table}}
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let table of tableContentSpecific">

        <td *ngIf="userData.id == table.propertyId">
          {{table.name}}
        </td>
        <td *ngIf="userData.id == table.propertyId">
          {{table.spend_date}}
        </td>
        <td *ngIf="userData.id == table.propertyId">
          {{table.amount}}
        </td>

      </tr>
      </tbody>

    </table>

    <div class="k-float-right">
      <p class="has-text-weight-bold">Total entre gastos comunes y no comunes: {{ totalInvoice.toFixed(2) }}</p>
      <span *ngIf="userData == null || userData == undefined">
        <p class="has-text-weight-bold">Total de los gastos especificos: {{ totalSpecific.toFixed(2) }}</p>
        <p class="has-text-weight-bold">Total: {{ (totalSpecific + totalInvoice).toFixed(2) }}</p>
      </span>
      <span *ngIf="userData !== undefined">
        <p class="has-text-weight-bold">Participación total: (sin reserva): {{ alicuota.toFixed(2) }}</p>
        <p class="has-text-weight-bold">Reserva: {{ reserve.toFixed(2) }}</p>
        <p class="has-text-weight-bold">Total de gasto especifico: {{ totalSpecific.toFixed(2) }}</p>
        <p class="has-text-weight-bold">Totalidad a pagar: {{ total.toFixed(2) }}</p>
        <p class="has-text-weight-bold">Balance de la propiedad: {{ (userData.balance.toFixed(2) * -1) }}</p>
      </span>
    </div>

  </div>

</div>


<app-create-properties></app-create-properties>
