<ngx-smart-modal #prontoPagoModal identifier="prontoPagoModal">

  <div *ngIf="pageLoader">
    <p>Cargando...</p>
  </div>

  <div *ngIf="!pageLoader">
    <form [formGroup]="form" (ngSubmit)="ngOnSubmit()">


      <div>
        <label class="label">Fecha de aplicación de ProntoPago</label>
        <div class="control">
          <input
            class="input"
            type="date"
            formControlName="command_date"
            placeholder="Fecha correspondiente de la factura"
          />
        </div>
        <p class="help">Seleccione la fecha por la cual desea efectual el ProntoPago.</p>
      </div>

      <div>
        <label class="label">Tasa del dolar</label>
        <div class="control">
          <input class="input" type="text" formControlName="bcv" placeholder="Ej: 200" />
        </div>
        <p class="help">Usa la tasa de dolar de su preferencia, nosotros recomendamos la del Banco Central.</p>
      </div>

      <div>
        <label class="label">Porcentaje a aplicar</label>
        <div class="control">
          <input class="input" formControlName="percentage_prontopago" type="text" placeholder="Ej: Pago del agua" />
        </div>
        <p class="help">El total del ProntoPago es el monto <strong>actual</strong> de la factura por el porcentaje que desee aplicar.</p>
      </div>

      <div>
        <p [class.has-text-success]="!error" [class.has-text-danger]="error">{{ message }}</p>
      </div>


      <div class="buttons has-addons is-centered">
        <button type="submit" class="button bg is-primary is-rounded" [class.is-loading]="isLoading">Añadir</button>
      </div>
    </form>
  </div>

</ngx-smart-modal>

