<div class="columns padding-top-1">
  <div class="column is-3">
    <app-sidebar [residenceId]="residence"></app-sidebar>
  </div>

  <div class="column is-9" *ngIf="error">
    <p>No se ha podido cargar la información, por favor intentelo de nuevo.</p>
  </div>

  <div class="column is-9" *ngIf="isLoading">
    <p class="is-size-4">Cargando...</p>
  </div>

  <div class="column is-9" *ngIf="!error && !isLoading">

    <app-welcome-card [title]="'Mi balance'" [content]="'Tu estado de cuenta según tu alicuota.'"></app-welcome-card>

    <!-- Data cards -->

    <section class="info-tiles">

      <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">{{paymentInfo.balance}}</p>
            <p class="subtitle">Balance actual</p>
          </article>
        </div>

      </div>
    </section>

    <!-- Table -->

    <div class="columns">

      <div class="column">
        <app-table [data]="payments" [config]="config"></app-table>
      </div>

    </div>

    <!--<p>defaulters works!</p>-->
  </div>
</div>
