<div class="hero bg is-fullheight is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-8 is-offset-2">
        <div class="box">
          <h3 class="title">Registro de auditor</h3>
          <hr class="login-hr" />
          <p class="subtitle">¡Bienvenido a Aplica.IO!</p>

          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <!-- Nombre y apellido -->
            <div class="columns">
              <div class="field column is-6">
                <div class="control">
                  <input
                    class="input is-large"
                    type="text"
                    placeholder="Nombre"
                    name="first_name"
                    [(ngModel)]="form.first_name"
                    #first_name="ngModel"
                    required
                  />
                </div>
              </div>
              <div class="field column is-6">
                <div class="control">
                  <input
                    class="input is-large"
                    type="text"
                    placeholder="Apellidos"
                    name="last_name"
                    [(ngModel)]="form.last_name"
                    #last_name="ngModel"
                    required
                  />
                </div>
              </div>
            </div>
            <!-- DNI -->
            <div class="field">
              <div class="control">
                <input
                  class="input is-large"
                  type="email"
                  placeholder="Cedula"
                  name="dni"
                  [(ngModel)]="form.dni"
                  #dni="ngModel"
                  minlength="7"
                  maxlength="8"
                  required
                />
              </div>
            </div>
            <!-- Email -->
            <div class="field">
              <div class="control">
                <input
                  class="input is-large"
                  type="email"
                  placeholder="Email"
                  name="email"
                  [(ngModel)]="form.email"
                  #email="ngModel"
                  required
                />
              </div>
            </div>
            <!-- Password -->
            <div class="field">
              <div class="control">
                <input
                  class="input is-large"
                  type="password"
                  placeholder="Contraseña"
                  name="password"
                  [(ngModel)]="form.password"
                  #password="ngModel"
                  required
                />
              </div>
            </div>
            <!-- Confirm Password -->
            <div class="field">
              <div class="control">
                <input
                  class="input is-large"
                  type="password"
                  placeholder="Repetir contraseña"
                  name="password_confirmation"
                  [(ngModel)]="form.password_confirmation"
                  #password_confirmation="ngModel"
                  required
                />
              </div>
            </div>

            <p *ngIf="isSignUpFailed" class="has-text-danger">
              Uno de los campos que has ingresado es invalido, por favor, vuelve a intentarlo
            </p>

            <!--*Modified style-->
            <button class="button bg is-block is-info is-large is-fullwidth">Registrarse</button>
          </form>
        </div>

        <p class="has-text-white">
          <a routerLink="/auth/login" class="has-text-white">Iniciar sesión</a>&nbsp;·&nbsp;
          <a routerLink="/auth/register" class="has-text-white">Registrate</a>&nbsp;·&nbsp;
          <a routerLink="/auth/register" class="has-text-white">¿Olvidaste tu contraseña?</a>&nbsp;·&nbsp;
          <a routerLink="/" class="has-text-white">¿Necesitas ayuda?</a>
        </p>
      </div>
    </div>
  </div>
</div>
