<div class="columns is-multiline padding-top-1">

  <!-- PROPERTIES -->

  <div *ngIf="isLoading" class="loader-wrapper is-12 is-active">
    <div class="loader is-loading"></div>
  </div>

  <div class="column is-3" *ngFor="let property of properties; i as index">
    <app-elements-cards (event)="setPropertyId(property)" image="https://api-laravel.aplica.io/images/prueba.png" [link]="property.residence_id" [title]="property.residence.name" [content]="property.reference"></app-elements-cards>
  </div>

  <div class="column is-12">
    <p class="is-size-4">{{message}}</p>
  </div>

</div>
