<div class="columns padding-top-1">
  <div class="column is-3">
    <app-sidebar [residenceId]="residence"></app-sidebar>
  </div>

  <div class="column is-9" *ngIf="isLoading">
    <p class="is-size-4">Cargando...</p>
  </div>

  <div class="column is-9" *ngIf="!isLoading">

    <app-welcome-card [title]="'Balance por propiedad'" [content]="'Listado de propiedades que van al dia o llevan deuda.'"></app-welcome-card>

    <!-- Data cards -->

    <section class="info-tiles">

      <div class="tile is-ancestor has-text-centered">

        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">{{(debt.toFixed(2) * -1)}}</p>
            <p class="subtitle">En deuda</p>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">{{(subscriber.toFixed(2) * -1)}}</p>
            <p class="subtitle">Abonado</p>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">{{(balance.toFixed(2) * -1)}}</p>
            <p class="subtitle">Balance</p>
          </article>
        </div>

      </div>
    </section>

    <!-- Table -->

    <app-table [config]="table" [data]="tableContent"></app-table>

    <!--<p>defaulters works!</p>-->
  </div>
</div>
