<aside class="menu">

  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a routerLink="/dashboard/{{residenceId}}" routerLinkActive="is-active">Dashboard inicial</a></li>
    <li><a routerLink="/defaulters/{{residenceId}}" routerLinkActive="is-active">Balance del condominio</a></li>
    <li><a routerLink="/invoices/{{residenceId}}" routerLinkActive="is-active">Facturas</a></li>
    <li><a routerLink="/my-balance/{{residenceId}}" routerLinkActive="is-active">Mi balance</a></li>
    <li><a (click)="modalService.getModal('userPaymentReport').open()">Reportar pago</a></li>
  </ul>

</aside>

<app-payment-report></app-payment-report>
