<section class="hero is-info welcome is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ title }}
      </h1>
      <h2 class="subtitle">
        {{ content }}
      </h2>
    </div>
  </div>
</section>
