nav.navbar {
  /*border-top: 4px solid #276cda;*/
  margin-bottom: 1rem;
}
.navbar-item.brand-text {
  font-weight: 300;
}
.navbar-item,
.navbar-link {
  font-size: 14px;
  font-weight: 700;
}
.activo {
  background: #e1e5e8;
}
.navbar-item img {
  max-height: 2.75rem !important;
}
