<!-- START NAVBAR -->

<nav class="navbar bg is-primary is-marginless no-print">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item brand-text" href="../index.html">
        <img src="https://api-laravel.aplica.io/images/brand/Logo-vertical-4.png">
      </a>
      <a
        role="button"
        #navBurger
        class="navbar-burger burger"
        (click)="toggleNavbar()"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbarBasicExample" #navMenu>
      <div class="navbar-end">
        <a class="navbar-item" *ngIf="isLogedIn" routerLink="/" [routerLinkActive]="'is-active'"> Inicio </a>
        <a *ngIf="isLogedIn" (click)="logOut()" class="navbar-item"> Cerrar Sesion </a>
      </div>
    </div>
  </div>
</nav>

<!-- END NAV -->
