<ngx-smart-modal #myModal identifier="myModal">
  <h2 class="is-size-4">Crear factura</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Referencia de recibo</label>
      <div class="control">
        <input class="input" type="text" formControlName="ref_code" placeholder="Ej: 16OCT2020" />
      </div>
      <p class="help">Ingrese el codigo de referencia de su factura</p>
      <p></p>
    </div>

    <div>
      <label class="label">Fecha de emisión</label>
      <div class="control">
        <input class="input" type="date" formControlName="date" placeholder="Fecha correspondiente de la factura" />
      </div>
      <p class="help">Seleccione la fecha de inicio de su factura</p>
    </div>

    <div>
      <label class="label">Seleccionar moneda</label>
      <div class="control">
        <div class="select is-rounded">
          <select [value]="1" formControlName="currency">
            <option *ngFor="let currency of currencies; index as i" [value]="currency.id">{{currency.name}}</option>
          </select>
        </div>
      </div>
      <p class="help">Seleccione la moneda con la cual trabajara este mes.</p>
    </div>

    <p [class.has-text-success]="!error" [class.has-text-danger]="error">{{message}}</p>

    <div class="buttons has-addons is-centered">
      <button type="submit" class="button bg is-primary is-rounded" [class.is-loading]="isLoading">Crear</button>
    </div>
  </form>
</ngx-smart-modal>
