<div class="hero bg is-fullheight is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-8 is-offset-2">
        <div class="box">
          <h3 class="title">Iniciar sesión</h3>
          <hr class="login-hr" />
          <p class="subtitle">¡Bienvenido!</p>

          <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="field">
              <div class="control">
                <input
                  class="input is-large"
                  type="email"
                  placeholder="Email"
                  autofocus=""
                  name="email"
                  [(ngModel)]="form.email"
                  required
                  #email="ngModel"
                />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input
                  class="input is-large"
                  type="password"
                  placeholder="Contraseña"
                  name="password"
                  [(ngModel)]="form.password"
                  required
                  #password="ngModel"
                />
              </div>
            </div>

            <p *ngIf="isLoginFailed" class="has-text-danger">
              Uno de los campos que has ingresado es invalido, por favor, vuelve a intentarlo
            </p>

            <!--*Modified style-->
            <button type="submit" class="button bg is-block is-info is-large is-fullwidth">Iniciar sesión</button>
          </form>
        </div>

        <p class="has-text-white">
          <a routerLink="/auth/register" class="has-text-white">Registrate</a>
          &nbsp;·&nbsp;
          <a routerLink="/auth/auditor-register" class="has-text-white">Registrate como auditor</a>
          &nbsp;·&nbsp;
          <a routerLink="/auth/register" class="has-text-white">¿Olvidaste tu contraseña?</a>
          &nbsp;·&nbsp;
          <a routerLink="/" class="has-text-white">¿Necesitas ayuda?</a>
        </p>
      </div>
    </div>
  </div>
</div>
