<ngx-smart-modal #confirmPayment identifier="confirmPayment" (onClose)="onClosing()">
  <div *ngIf="isOpened">
    <h2 class="is-size-4">Estas seguro de confirmar el pago?</h2>
    <h3 class="help">
      Verifica que la informacion ingresada aquí es la correcta, una vez aprobada no se podrá actualizar.
    </h3>

    <div class="columns padding-top-1">
      <div class="column">
        <p>Monto pagado: {{data.amount_payed}}</p>
        <p>Propiedad: {{data.property.reference}}</p>
        <p>Alicuota: {{data.property.alicuota}}</p>
        <p>Balance: {{data.property.balance}}</p>
      </div>
      <div class="column">
        <p>Cambio BCV: {{data.bcv}}</p>
        <p>Banco: {{data.bank.bank}}</p>
        <p>Medio de pago: {{data.method.method}}</p>
        <p>Estado: {{data.status.name}}</p>
      </div>
    </div>

    <div class="buttons has-addons is-centered">
      <button class="button bg is-primary is-rounded" [class.is-loading]="isLoading" (click)="paymentConfirm()">
        Confirmar
      </button>
    </div>
  </div>
</ngx-smart-modal>
