<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img
        src="{{ image }}"
        alt="Placeholder image"
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ title }}</p>
        <p class="subtitle is-6">{{ content }}</p>
      </div>
    </div>

    <div class="content">
      <a routerLink="dashboard/{{link}}">
        <button class="button bg is-primary is-outlined" (click)="onEvent()">Ver mas</button>
      </a>
    </div>
  </div>
</div>
