<ngx-smart-modal #dividedCharges identifier="dividedCharges">
  <div *ngIf="pageLoader">
    <p>Cargando...</p>
  </div>

  <div *ngIf="!pageLoader">
    <form [formGroup]="form" (ngSubmit)="ngOnSubmit()">

      <!--Select property-->
      <div class="field">
        <label class="label">Propiedades a cobrar</label>
        <div>
          <div>
            <kendo-multiselect
              formControlName="properties"
              [data]="properties"
              textField="reference"
              valueField="id"
              [kendoDropDownFilter]="filterSettings"
              placeholder="Selecciona las propiedades a descontar"
              [valuePrimitive]="true"
            >
            </kendo-multiselect>
          </div>
        </div>
        <p class="help">Seleccione las propiedades a cobrar, para esto haga click en las propiedades mientras deja la tecla control precionada.</p>
      </div>

      <div>
        <label class="label">Razón del gasto especifico</label>
        <div class="control">
          <input class="input" formControlName="name" type="text" placeholder="Ej: Agua" />
        </div>
        <p class="help">Ingrese un titulo para el gasto.</p>
      </div>

      <div>
        <label class="label">Fecha del gasto</label>
        <div class="control">
          <input
            class="input"
            type="date"
            formControlName="spend_date"
            placeholder="Fecha correspondiente de la factura"
          />
        </div>
        <p class="help">Fecha la cual fue efectuada el gasto.</p>
      </div>

      <div>
        <label class="label">Monto del gasto</label>
        <div class="control">
          <input class="input" type="text" formControlName="amount" placeholder="Ej: 200" />
        </div>
        <p class="help">Monto del gasto efectuado.</p>
      </div>

      <div>
        <label class="label">Tasa cambiaria</label>
        <div class="control">
          <input class="input" [value]="dolar" type="number" formControlName="bcv" required="true" />
        </div>
        <p class="help">Tasa del dolar del momento, el sistema automaticamente seleccionara la tasa del BCV.</p>
      </div>

      <div>
        <label class="label">Conversión</label>
        <div class="control">
          <input *ngIf="currency == 1" class="input" [value]="dolar * this.form.value.amount + ' BsS'" disabled/>
          <input *ngIf="currency == 2" class="input" [value]=" this.form.value.amount / dolar + ' USD'" disabled />
        </div>
        <p class="help">Conversion de la Tasa y el monto a pagar.</p>
      </div>

      <div>
        <label class="label">Detalle</label>
        <div class="control">
          <input class="input" formControlName="reason" type="text" placeholder="Ej: Pago del agua" />
        </div>
        <p class="help">Breve resumen del gasto.</p>
      </div>

      <p [class.has-text-success]="!error" [class.has-text-danger]="error">{{ message }}</p>

      <div class="buttons has-addons is-centered">
        <button type="submit" class="button bg is-primary is-rounded" [class.is-loading]="isLoading">Añadir</button>
      </div>
    </form>
  </div>
</ngx-smart-modal>
