<div class="columns padding-top-1">
  <div class="column is-3">
    <app-sidebar [residenceId]="residence"></app-sidebar>
  </div>

  <div *ngIf="isLoading">
    <p class="is-size-4">
      Cargando...
    </p>
  </div>

  <div *ngIf="error && !isLoading">
    <p class="is-size-4">
      {{message}}
    </p>
  </div>

  <div class="column is-9" *ngIf="!isLoading && !error">

    <app-welcome-card [title]="'Balance por propiedad'" [content]="'Listado de propiedades que van al dia o llevan deuda.'"></app-welcome-card>

    <!-- Data cards -->

    <section class="info-tiles">

      <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">{{ (debt.toFixed(2) * -1) }}</p>
            <p class="subtitle">Deuda total</p>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">{{ (subscriber.toFixed(2) * -1) }}</p>
            <p class="subtitle">Total abonado</p>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">{{ ((balance - response.reserve).toFixed(2) * -1) }}</p>
            <p class="subtitle">Balance</p>
          </article>
        </div>

      </div>
    </section>

    <section class="info-tiles">
      <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">{{ (response.reserve.toFixed(2) * -1) }}</p>
            <p class="subtitle">En Reserva</p>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">{{ ((balance - response.reserve) + response.reserve).toFixed(2) * -1 }}</p>
            <p class="subtitle">Disponibilidad total</p>
          </article>
        </div>
      </div>
    </section>

    <!-- Table -->

    <app-table [config]="table" [data]="tableContent"></app-table>

    <!--<p>defaulters works!</p>-->
  </div>
</div>

<app-create-invoice></app-create-invoice>
<app-create-properties></app-create-properties>
