<div class="columns padding-top-1">
  <div class="column is-3">
    <app-sidebar [residenceId]="residence"></app-sidebar>
  </div>

  <div *ngIf="isLoading">
    <p class="is-size-4">
      Cargando...
    </p>
  </div>

  <div class="column is-9" *ngIf="!isLoading">

    <!-- Welcome Card -->

    <app-welcome-card [title]="'Lista de propiedades del condominio'"></app-welcome-card>

    <!-- Table -->

    <div class="padding-top-1" *ngIf="error">
      <p class="is-size-3"> {{ message }} </p>
    </div>
    <div class="padding-top-1" *ngIf="!error">
      <app-table [data]="data" [config]="table" (actionEvent)="onAction($event)"></app-table>
    </div>


  </div>
</div>

<app-create-invoice></app-create-invoice>
<app-create-properties></app-create-properties>
