<div *ngIf="isLoading" class="loader-wrapper is-12 is-active">
  <div class="loader is-loading"></div>
</div>

<div class="columns is-multiline padding-top-1">
  <!-- Create residence-->

  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://api-laravel.aplica.io/images/prueba.png" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">Nuevo condominio</p>
          </div>
        </div>

        <div class="content">
          <a (click)="modalService.getModal('createResidence').open()">
            <button class="button bg is-primary">Crear</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- RESIDENCES -->

  <div class="column is-3" *ngFor="let residence of residences; index as i">
    <app-elements-cards image="https://api-laravel.aplica.io/images/prueba.png" [title]="residence.name" [link]="residence.id"></app-elements-cards>
  </div>
</div>

<!-- MODALS -->
<app-create-residence></app-create-residence>
