<div class="columns padding-top-1">
  <div class="column is-3">
    <app-sidebar [residenceId]="residence"></app-sidebar>
  </div>

  <div class="column is-9" *ngIf="isLoading">
    <p class="is-size-4">Cargando...</p>
  </div>

  <div class="column is-9" *ngIf="!isLoading">

    <!-- Welcome Card -->

    <app-welcome-card [title]="'Registro de todas los recibos'" [content]="'Haz click en ver mas para poder revisar las facturas.'"></app-welcome-card>

    <!-- Table -->

    <div class="padding-top-1">
      <app-table [config]="table" [data]="data" (actionEvent)="onEvent($event)"></app-table>
    </div>


  </div>
</div>
