/* You can add global styles to this file, and also import other style files */
@import '~ngx-smart-modal/ngx-smart-modal';
@import 'app/app.component';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

$blue: #3372cc;
$darkblue: #2b66bb;
$green: #36cc92;

.hero.bg.is-primary,
.button.bg.is-primary,
.navbar.bg.is-primary,
.navbar.bg.is-primary a.navbar-item.is-active {
  background: $blue;
}

.navbar.is-primary .navbar-end .navbar-link.is-active, .navbar.is-primary .navbar-end .navbar-link:focus, .navbar.is-primary .navbar-end .navbar-link:hover, .navbar.is-primary .navbar-end>a.navbar-item.is-active, .navbar.is-primary .navbar-end>a.navbar-item:focus, .navbar.is-primary .navbar-end>a.navbar-item:hover, .navbar.is-primary .navbar-start .navbar-link.is-active, .navbar.is-primary .navbar-start .navbar-link:focus, .navbar.is-primary .navbar-start .navbar-link:hover, .navbar.is-primary .navbar-start>a.navbar-item.is-active, .navbar.is-primary .navbar-start>a.navbar-item:focus, .navbar.is-primary .navbar-start>a.navbar-item:hover {
  background-color: $darkblue !important;
  color: #fff;
}

.navbar.is-primary .navbar-brand .navbar-link.is-active, .navbar.is-primary .navbar-brand .navbar-link:focus, .navbar.is-primary .navbar-brand .navbar-link:hover, .navbar.is-primary .navbar-brand>a.navbar-item.is-active, .navbar.is-primary .navbar-brand>a.navbar-item:focus, .navbar.is-primary .navbar-brand>a.navbar-item:hover {
  background-color: $darkblue !important;
  color: #fff;
}

.button.bg.is-info {
  background: $blue;
}

.button.bg.is-primary.is-outlined {
  background: transparent;
  border-color: $green;
  color: $green;
}

.button.bg.is-primary {
  background: $blue;
  border-color: $darkblue;
  color: white;
}

.button.bg.is-primary:hover {
  background: $darkblue;
  border-color: $darkblue;
  color: white;
}

.hero.bg .title,
.hero.bg .subtitle {
  color: $blue !important;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  .loader {
    height: 80px;
    width: 80px;
  }

  &.is-active {
    opacity: 1;
    z-index: 1;
  }
}

.padding-top-1 {
  padding-top: 1em;
}

.info-tiles {
  margin: 1rem 0;
}

.hero.welcome.is-info {
  background: $blue;
  background: -webkit-linear-gradient(to right, $green, $blue);
  background: linear-gradient(to left, $green, $blue);
  background-size: 400%;

  -webkit-animation: AnimationEvolution 2.5s ease infinite;
  -moz-animation: AnimationEvolution 2.5s ease infinite;
  animation: AnimationEvolution 2.5s ease infinite;
}

@-webkit-keyframes AnimationEvolution {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationEvolution {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationEvolution {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
  .example-print {
    width: 100% !important;
    display: block !important;
  }
}


