<div class="columns padding-top-1">
  <!-- Sidebar -->
  <div class="column is-3">
    <app-sidebar [residenceId]="paramId"></app-sidebar>
  </div>

  <div class="column is-9" *ngIf="isLoading">
    <p class="is-size-4">Cargando...</p>
  </div>

  <div class="column is-9" *ngIf="!isLoading">

    <div *ngIf="!error">

      <!-- HELLO -->

      <app-welcome-card [title]="'Bienvenido otra vez!'" [content]="content"></app-welcome-card>

      <!-- CARDS -->

      <section class="info-tiles" *ngIf="response.invoices.length > 0">
        <div class="tile is-ancestor has-text-centered">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{response.invoices[0].currency.name}}</p>
              <p class="subtitle">Moneda</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{totalSpend.toFixed(2)}}</p>
              <p class="subtitle">Egresos</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{response.invoices[0].ref_code}}</p>
              <p class="subtitle">Codigo de referencia</p>
            </article>
          </div>
        </div>
      </section>

      <!-- Table -->

      <div class="columns">
        <div class="column is-12">
          <app-table [config]="table" [data]="tableContent"></app-table>
        </div>
      </div>

    </div>

  </div>
</div>
