<ngx-smart-modal #userPaymentReport identifier="userPaymentReport">
  <div *ngIf="errorLoading">
    <h2 class="is-size-4">{{message}}</h2>
  </div>

  <div *ngIf="!errorLoading">
    <h2 class="is-size-3"></h2>

    <form [formGroup]="form" (ngSubmit)="ngOnSubmit()">
      <div class="field">
        <label class="label">Metodo de pago</label>
        <div class="control">
          <div class="select is-rounded">
            <select formControlName="id_method">
              <option *ngFor="let method of methods" [value]="method.id">{{method.method}}</option>
            </select>
          </div>
        </div>
        <p class="help">Seleccione el medio usado para pagar</p>
      </div>

      <div>
        <label class="label">Banco</label>
        <div class="control">
          <div class="select is-rounded">
            <select formControlName="bank">
              <option *ngFor="let bank of banks" [value]="bank.id">{{bank.bank}}</option>
            </select>
          </div>
        </div>
        <p class="help">Seleccione el banco usado al momento de hacer la transaccion</p>
      </div>

      <div>
        <label class="label">Seleccionar moneda</label>
        <div class="control">
          <div class="select is-rounded">
            <select [value]="1" formControlName="currency_id">
              <option *ngFor="let currency of currencies; index as i" [value]="currency.id">{{currency.name}}</option>
            </select>
          </div>
        </div>
        <p class="help">Seleccione la moneda usada para pagar</p>
      </div>

      <div>
        <label class="label">Monto pagado</label>
        <div class="control">
          <input class="input" type="text" formControlName="amount_payed" placeholder="Monto pagado" />
        </div>
        <p class="help">Especifique el monto pagado.</p>
      </div>

      <div>
        <label class="label">Referencia de la transaccion</label>
        <div class="control">
          <input
            class="input"
            type="text"
            formControlName="transaction_ref"
            placeholder="Referencia de la transaccion"
          />
        </div>
        <p class="help">Ingrese el numero de referencia de la transaccion</p>
      </div>

      <p [class.has-text-success]="!error" [class.has-text-danger]="error">{{ message }}</p>

      <button type="submit" class="button bg is-primary">Reportar pago</button>
    </form>
  </div>
</ngx-smart-modal>
