<div class="columns padding-top-1">
  <div class="column is-2">
    <app-sidebar [residenceId]="residence"></app-sidebar>
  </div>

  <div *ngIf="isLoading">
    <p class="is-size-4">
      Cargando...
    </p>
  </div>

  <div class="column is-10" *ngIf="!isLoading">

    <!-- Welcome Card -->

    <app-welcome-card [title]="'Pagos recientes'" [content]="'Recuerda antes de aceptar el pago, deberás confirmarlo.'"></app-welcome-card>

    <!-- Table -->

    <!--
    <div class="padding-top-1" *ngIf="error">
      <p class="is-size-3"> {{ message }} </p>
    </div>
    -->
    <div class="padding-top-1">
      <app-table [config]="tableConfig" [data]="table" (actionEvent)="onAction($event)"></app-table>
    </div>


  </div>
</div>

<app-create-invoice></app-create-invoice>
<app-create-properties></app-create-properties>
<app-confirm-payment [data]="data" [isOpened]="isOpened" (refresh)="ngOnInit()"></app-confirm-payment>
